@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	/* font-family: 'Open-Sans', sans-serif; */
	box-sizing: border-box;
}
